:root {
    --clr-black : black;
    --clr-red : firebrick;
    --clr-poker : #35654d;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    background-image: url(https://img.freepik.com/free-photo/green-textile-texture_23-2147729348.jpg?w=740&t=st=1703671802~exp=1703672402~hmac=11bd411f940c740926ae81c6fb02db040af392e1a296f1c30de0aacede9d30f8);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    
    margin: 5px;
}

#buttonBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card {
    border-radius: 4px;
    width: 75px;
    height: 90px;
    background-color: white;
    font-size: 1.5rem;
    margin:5px;

}

.cardback {
    border-radius: 4px;
    width: 75px;
    height: 90px;
    background-image: url(cardback.svg);
    font-size: 1.5rem;
    margin:5px;
}


.red {
    color: var(--clr-red);
    
}

.black {
    color: var(--clr-black);
}


.cardsBoard {
    display: flex;
    padding: 15px 30px;
    background-color: var(--clr-poker);
    border-radius: 25px;
    
}

.bustedText {
    font-size: 2rem;
}


.displayNone {
    display: none;
}